body {
  background-image: linear-gradient(to right, black, #353839) !important;
}

/* body {
  height: 100%;
}

.mydiv {
  width: 100%;
  height: 100%;
  color: black;
  font-weight: bold;
  animation: myanimation 10s infinite;
}

@keyframes myanimation {
  0% {
    background-color: red !important;
  }
  25% {
    background-color: yellow !important;
  }
  50% {
    background-color: green !important;
  }
  75% {
    background-color: brown !important;
  }
  100% {
    background-color: red !important;
  }
} */
